body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji","Segoe UI Symbol";
  background-color: white;
}


header {
  background-color: #F8F8F8 ;
  margin-bottom: 40px;
  padding: 2%;
  height: 100px;

}

.title {
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 17px;

}

.fa-angle-left {
  width: 35px;
  color: #00A5FF;

}
.fa-user {
  width: 35px;
  color: #881CB8;
}
.fa-home {
  width : 35px;
  color: #881CB8;
}

.fa-battery-full{
  width: 10px;
  height: 10%;
  color:#000;
  float: right;
  padding-right: 5px;
}
.fa-percent{
  width :10px;
  height: 10%;
  color :#000;
  float: right;
  padding-right: 15px;

}
.fa-wifi {
  width: 10px;
  height: 10%;
  color: #000;
  padding-left: 5px;

}

.navbar {
  display: block;
  padding-bottom: 3px;

}
.topnav {

  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;


}
.toggle {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  border: 1px solid #B22D7C;
  border-radius: 10px;

  text-align: center;
  margin: 20px 0;


}
.toggle li:first-of-type {
  background-color: #B22D7C;
  border-radius: 10px 0 0 10px;
  color: #fff;
  padding: 10px;

}
.toggle li:nth-of-type(2n) {
  border-right: 1px solid #B22D7C;
  padding: 10px;
}

.toggle li:last-of-type {
    padding: 10px;

}

.sub {
  padding: 15px 0 ;
  background-color: #B22D7C;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  color: #fff;
  box-shadow: 0 2px 4px  rgba(0,0,0,0.5);

}

.sub2 {
  padding: 15px 0 ;
  background-color: #F3F3F3;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  box-shadow: 0 2px 4px rgba(0,0,0,0.5);

}

li {
  grid-column: 1/span 3;
  grid-row: auto;
}
li:first-of-type{
  grid-column: 1;
  grid-row: 1;
  text-align: center;

}
li:last-of-type {
  grid-column: 3;
  text-align: center;

}
li:nth-of-type(2n) {
  grid-column: 2;
  grid-row: 1;
  text-align: center;
}
.direction {
  /* grid-column: 3/4; */
  text-align: center;
  background-color: #2eb4ab;
  color: #fff;
  border: 1px solid #2eb4ab;
  border-radius: 25px 25px 0 0;
  padding: 12px 0px ;


}

.directionreroute {
  /* grid-column: 3/4; */
  text-align: center;
  background-color: #F19A37;
  color: #fff;
  border: 1px solid #F19A37;
  border-radius: 25px 25px 0 0;
  padding: 12px 0 ;


}
.directionofs {
  /* grid-column: 3/4; */
  text-align: center;
  background-color: #F19A37;
  color: #fff;
  border: 1px solid #F19A37;
  border-radius: 25px 25px 0 0;
  padding: 12px 0 ;

}
.component {
  padding: 0 5%;
  padding: 15px;
  padding-bottom: 8px;

}

footer {
  position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: white;
    /* margin: 0 auto; */
    margin-top: 50px;
    display: flex;
    justify-content: space-around;

}
footer i {
  padding: 30px;
}
