
* {
  margin: 0;
  padding: 0;
}
article {
  background-color: #ccc;
  padding: 1em;
}

article header{
  align-items: center;
  border-bottom: 2px solid #000;
  display: flex;
  justify-content: center;
}

article header > * {
  flex-grow: 1;
  text-align: center;
}
